<% content_for :header_tags do %>
  <%= javascript_include_tag 'issues_index.js', :plugin => 'redmine_extended_export' %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'XLSX', :url => params, :onclick => "showModal('xlsx-export-options', '350px'); return false;" %>
<% end %>

<label id="csv-comments"><%= check_box_tag 'comments', '1', @query.has_column?(:comments) %> <%= l(:field_comments) %></label>

<div id="xlsx-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'XLSX') %></h3>
  <%= form_tag(params.merge({:format => 'xlsx',:page=>nil, :per_page=>nil}), :method => :get, :id => 'xlsx-export-form') do %>
  <p>
    <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
    <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
  </p>
  <p>
    <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
    <label><%= check_box_tag 'comments', '1', @query.has_column?(:comments) %> <%= l(:field_comments) %></label>
  </p>
  <% if @issue_count > Setting.issues_export_limit.to_i %>
  <p class="icon icon-warning">
    <%= l(:setting_issues_export_limit) %>: <%= Setting.issues_export_limit.to_i %>
  </p>
  <% end %>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
  <% end %>
</div>
